<div style="display: inline-flex; justify-content: center; padding: 20px; ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <a href="/babyprofile">
                    <img src="/img/babyprofile1.jpg" class="card-img-top" alt="...">
                </a>
              <div class="card-body">
                <h5 class="card-title">Baby Info</h5>
                <p class="card-text">Get started now. Add your new baby information to start tracking Your baby's growing everyday and you want to celebrate every milestone with him/her. </p>
              </div>
                <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
             </div>
            </div>
          </div>
        </div>
</div>
