<img style="width: 150%;" src="/img/profile.jpg" class="img-fluid" alt="...">

<div style="text-align: center;">
  <img style="width: 1000px;" class="img-fluid" src="/img/editprofilelogo.jpg" alt="...">
</div>

<form action="/babyprofile/<%= baby.id %>?_method=PUT " method='POST'>
    <div style="margin: 0% 10% 20% 10% ;">
      <form class="row g-3 needs-validation" novalidate>
  
              <div class="col-md-4">
                <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                <input name="dateOfBirth" type="date" class="form-control" id="dateOfBirth" value="<%=baby.dateOfBirth%>" required>
                <div class="invalid-feedback">
                 Please select date.
                </div>
              </div>
  
              <div class="col-md-4">
                <label for="name" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="name" value="<%= baby.name %>" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

            <div class="col-md-4">
              <label for="gender" class="form-label">Gender</label>
              <select name="gender" class="form-select" id="type" value="<%= baby.gender%>"required>
                <option selected disabled value="">Choose...</option>
                <option>Boy</option>
                <option>Girl</option>
              </select>
              <div class="invalid-feedback">
                Please select gender.
              </div>
            </div>
  
  
            <input style="margin-top: 3%;" type="submit" class="btn btn-outline-secondary" value="Edit Baby Profile">
  
      </form>
    </div>
  </form>