<img src="/img/about.jpg" class="img-fluid" alt="...">
<!-- <h1 style="margin: 0% 10% 2% 10% ;">About Us</h1> -->

<div style="text-align: center;">
    <img style="width: 800px;" class="img-fluid" src="/img/aboutlogo.jpg" alt="...">
</div>

<div style="margin: 0% 10% 0% 10%;">
    <h4>Congratulations and welcome to BabyGrowth!</h4>
    <p>
        BabyGrowth is a baby activity tracker app to record all aspects of your baby's care.
        Track all your baby's developmental milestones, feedings, sleep and diaper change.
    </p>
    
    <h4>Follow us on Social Media</h4>
    <ul>
        <li style="color: black;" class="nav-item nav-link active"> <img style="width: 3%;" src="/img/facebook.png"> Facebook: https://www.facebook.com/BabyGrowth</li>
        <li style="color: black;" class="nav-item nav-link active"> <img style="width: 3%;" src="/img/ig.jpg"> Instagram: @babygrowth_babygrowth</li>
    </ul>  
</div>


<div style="margin: 0% 10% 10% 10% ;">
    <h4>Contact us</h4>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="your@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="your name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">How can we help you?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div style="text-align: center; margin-top: 3%; margin-bottom: 3%;">
        <div class="d-grid gap-2">
          <input type="submit" class="btn btn-outline-secondary" value="send message">
        </div>
      </div>
</div>
