<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <style>
    @font-face { 
        font-family: Grand Hotel;
        src: url( http://www.fontsquirrel.com/fonts/grand-hotel);
     }
     
     * {
        font-family: Grand Hotel;
     }
     </style>  -->

    <title>BabyGrowth</title>
    
</head>
<body>

<!-- Nav bar start -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a style="margin-right: 0cm;padding-right: 0cm; width: 150px; height: 150px;" class="navbar-brand" href="/">
            <img style="height: 100%; width: 100%; margin: 0%;" src="/img/BabyGrowth.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/babyprofile">My Baby</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Schedule
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/baby">All Schedule</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/feed">Feed</a></li>
              <li><a class="dropdown-item" href="/sleep">Sleep</a></li>
              <li><a class="dropdown-item" href="/diaper">Diaper</a></li>
              <li><a class="dropdown-item" href="/growth">Growth</a></li>
            </ul>
          </li>
        </ul>

          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if(!loggedIn){ %> 
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/session/register">Register</a>
            </li>

            <li class="nav-item">
             <a class="nav-link active" href="/session/login">Log In</a>
            </li>
          
          <% } else {%>
            <li class="nav-item">
              <a class="nav-link active" href="/session/logout">Log Out</a>
            </li> 
          <% } %>
          </ul>

          <% if (username) { %>
            <li style="color: black;" class="nav-item nav-link active">Welcome, <%= username %></li>
          <% } %>
          <% if (message) { %>
            <p><%= message %></p>
          <% } %>

        <!-- <form class="d-flex">
  
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

<!-- Nav bar End -->


   <%- body %> 
<!-- 
   <footer>
    <p>BabyGrowth copywrite 2022 - Voravadee Rocco</p>
   </footer> -->

  
   <footer>
    <p>Copyright &copy;
        <script>document.write(new Date().getFullYear())</script> - Voravadee Rocco
    </p>
    </footer>


<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>


</html>