<img src="/img/growth1.jpg" class="img-fluid" alt="...">

<div style="text-align: center;">
    <img style="width: 1000px;" class="img-fluid" src="/img/newgrowth.jpg" alt="...">
  </div>

<form action="/growth/baby/<%=baby.id%>" method='POST'>
  <div style="margin: 0% 10% 20% 10% ;">
    <form class="row g-3 needs-validation" novalidate>

        <div class="col-md-3">
            <label for="date" class="form-label">Date</label>
            <input name="date" type="date" class="form-control" id="date" required>
            <div class="invalid-feedback">
                Please select date.
            </div>
        </div>
    
        <div class="col-md-4">
            <label for="weight" class="form-label">Weight / lb</label>
            <input name="weight" type="number" class="form-control" id="weight" value="" required>
            <div class="valid-feedback">
                Please select weight.
            </div>
        </div>

        <div class="col-md-4">
            <label for="hight" class="form-label">Hight / Feet</label>
            <input name="hight" type="number" class="form-control" id="hight" value="" required>
            <div class="valid-feedback">
                Please select weight.
            </div>
        </div>


        <!-- <div class="col-md-2">
            <label for="babyName" class="form-label">Baby Name</label>
            <input name="babyName" type="text" class="form-control" id="babyName" value="" required>
            <div class="valid-feedback">
              Cute Baby!
            </div>
        </div> -->

         
            <input style="margin-top: 3%;" type="submit" class="btn btn-outline-secondary" value='Create Growth'>
        
    </form>
  </div>
</form>


