<img src="/img/sleep1.jpg" class="img-fluid" alt="...">
<div style="text-align: center;">
  <img style="width: 1000px;" class="img-fluid" src="/img/newsleep.jpg" alt="...">
</div>

<form action="/sleep/baby/<%= baby.id %>" method='POST'>
  <div style="margin: 0% 10% 20% 10% ;">
    <form class="row g-3 needs-validation" novalidate>

          <div class="col-md-3">
            <label for="date" class="form-label">Date</label>
            <input name='date' type="date" class="form-control" id="date" required>
            <div class="invalid-feedback">
              Please select date.
            </div>
         </div>

          <div class="col-md-4">
            <label for="timeStart" class="form-label">Time Start</label>
            <input name="timeStart" type="time" class="form-control" id="timeStart" required>
            <div class="invalid-feedback">
              Please select start time.
            </div>
          </div>

          <div class="col-md-4">
            <label for="timeEnd" class="form-label">Time End</label>
            <input name="timeEnd" type="time" class="form-control" id="timeEnd" required>
            <div class="invalid-feedback">
              Please select end time.
            </div>
          </div>

          <!-- <div class="col-md-2">
            <label for="babyName" class="form-label">Baby Name</label>
            <input name="babyName" type="text" class="form-control" id="babyName" value="" required>
            <div class="valid-feedback">
              Cute Baby!
            </div>
          </div> -->

          
            <input style="margin-top: 3%;" type="submit" class="btn btn-outline-secondary" value="Create Sleep">
     
    </form>
  </div>
</form>
