<div style="text-align: center;">
    <img style="width: 500px;" class="img-fluid" src="/img/Login.png" alt="...">
</div>

<form action="/session/login" method="POST">
    <div style="margin: 0% 10% 20% 10% ;">
        <form class="row g-3">
            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>

            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email">
              </div>

            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div style="text-align: center; margin-top: 3%; margin-bottom: 3%;">
              <div class="d-grid gap-2">
                <input type="submit" class="btn btn-outline-secondary" value="Log In">
              </div>
               
            </div>

                <a class="link"  href="/session/register">Do you have account with us?</a>
<br>
                <a class="link"  href="/session/register">Create new account click here!</a>

            
        </form>
    </div>
</form>

