<img src="/img/feed1.jpg" class="img-fluid" alt="...">

<div style="text-align: center;">
  <img style="width: 1000px;" class="img-fluid" src="/img/newfeed.jpg" alt="...">
</div>

<form action="/feed/baby/<%= baby.id %>" method='POST'>
  <div style="margin: 0% 10% 20% 10% ;">
    <form class="row g-3 needs-validation" novalidate>

        <div class="col-md-3">
            <label for="date" class="form-label">Date</label>
            <input name="date" type="date" class="form-control" id="date" required>
            <div class="invalid-feedback">
                Please select date.
            </div>
        </div>
    
        <div class="col-md-4">
            <label for="food" class="form-label">Food</label>
            <input name="food" type="text" class="form-control" id="food" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>
    
        <div class="col-md-3">
            <label for="amount" class="form-label">Amount</label>
            <select name="amount" class="form-select" id="amount" required>
              <option selected disabled value="">Choose...</option>
              <option>1 oz</option>
              <option>2 oz</option>
              <option>3 oz</option>
              <option>4 oz</option>
              <option>5 oz</option>
              <option>6 oz</option>
              <option>7 oz</option>
              <option>8 oz</option>
              <option>9 oz</option>
              <option>10 oz</option>
              <option>11 oz</option>
              <option>12 oz</option>
              <option>13 oz</option>
              <option>14 oz</option>
              <option>15 oz</option>
              <option>16 oz</option>
              <option>17 oz</option>
              <option>18 oz</option>
              <option>19 oz</option>
              <option>20 oz</option>
            </select>
            <div class="invalid-feedback">
              Please select amount.
            </div>
        </div>

        <div class="col-md-4">
            <label for="timeStart" class="form-label">Time Start</label>
            <input name="timeStart" type="time" class="form-control" id="timeStart" required>
            <div class="invalid-feedback">
              Please select start time.
            </div>
        </div>

        <div class="col-md-4">
            <label for="timeEnd" class="form-label">Time End</label>
            <input name="timeEnd" type="time" class="form-control" id="timeEnd" required>
            <div class="invalid-feedback">
              Please select end time.
            </div>
        </div>

        <!-- <div class="col-md-2">
            <label for="babyName" class="form-label">Baby Name</label>
            <input name="babyName" type="text" class="form-control" id="babyName" value="" required>
            <div class="valid-feedback">
              Cute Baby!
            </div>
        </div> -->

         
            <input style="margin-top: 3%;" type="submit" class="btn btn-outline-secondary" value='Create Feed'>
        
    </form>
  </div>
</form>


